.lower {
   position: relative;
   top: 50px;
   height: 2800px;
   width: 100%;
 }

 .info{
   position: absolute;
   width: 100%;
   height: 2840px;
   background-color: #efefef;
   font-family: arial;
 }
#n1{
  position: relative;
  top: 10px;
	text-align: center;
  color: #474747;
  font-size:28px;
}
#info_h{
  position: relative;
  top: 10px;
  color: #474747;
  font-size: 28px;
  padding-left: 10px;
}

#info_p{
  position: relative;
  color: #474747;
  font-size: 18px;
  top: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

#lamb {
  position: relative;
  float: left;
  top: 26px;
	width: 40%;
  margin-left: 10px;
  margin-right: 10px;
border-style: solid;
border-color: #5ea5f4;
}

#sexypat{
  position:relative;
  top:10px;
	width: 80%;
	height: 230px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
	border-color: #5ea5f4;
}
#n2{
	color: #474747;
	font-size: 18px;
	padding: 10px;
}
.inlink {
	margin-right: 10vw;
	text-decoration: none;
	color: #474747;
}
.inlink:hover {
	text-decoration: underline;
}
#info_sh{
	font-size: 22px;
}
.imagethings {
		height: 80%;
		width: auto;
		display: block;
		float: left;
		left: 10px;
		margin-top: 1%;
		margin-right: 20px;
		margin-left: 20px;
	}
	#images {
		position: relative;
		clear: both;
		width: 100%;
		height: 252px;
		top: 75px;
		z-index: 1;
		background-color: rgba(118,118,118,1.00);
		margin: 0px;
	}
	#pz1:hover {
		transform: scale(1.2);
	}
	#pz2:hover {
		transform: scale(1.2);
	}
	#pz3:hover {
		transform: scale(1.2);
	}
	#pz4:hover {
		transform: scale(1.2);
	}
#article-image2 {
	position: relative;
  float: left;
  top: 40px;
	width: 40%;
  margin-left: 10px;
	margin-right: 10px;
border-style: solid;
border-color: #5ea5f4;
}
#article-image3 {
	position: relative;
  float: left;
  top: 40px;
	width: 40%;
  margin-left: 10px;
	margin-right: 10px;
border-style: solid;
border-color: #5ea5f4;
}
#shop {
	margin-top: 100px;
}
#info_sh2{
	font-size: 22px;
}
#info_p2{
  position: relative;
  color: #474747;
  font-size: 18px;
  top: 40px;
  padding-right: 10px;
  padding-left: 10px;
}
#images2 {
		position: relative;
		clear: both;
		width: 100%;
		height: 252px;
		top: 75px;
		z-index: 1;
		background-color: rgba(118,118,118,1.00);
		margin: 0px;
	}
	#c1:hover {
		transform: scale(1.2);
	}
	#c2:hover {
		transform: scale(1.2);
	}
	#c3:hover {
		transform: scale(1.2);
	}
	#c4:hover {
		transform: scale(1.2);
	}
  #images3 {
  		position: relative;
  		clear: both;
  		width: 100%;
  		height: 252px;
  		top: 75px;
  		z-index: 1;
  		background-color: rgba(118,118,118,1.00);
  		margin: 0px;
  	}
#info_sh3{
	font-size: 22px;
}
#info_p3{
  position: relative;
  color: #474747;
  font-size: 18px;
  top: 40px;
  padding-right: 10px;
  padding-left: 10px;
}
  #w1:hover {
    transform: scale(1.2);
  }
  #w2:hover {
    transform: scale(1.2);
  }
  #w3:hover {
    transform: scale(1.2);
  }
  #w4:hover {
    transform: scale(1.2);
  }
#walk {
	margin-top: 100px;
}

  @media (max-width: 1560px) {
    #images, #images2, #images3 {
      height: 200px;
    }
    .lower {
      height: 2400px;
    }
    .info {
      height: 2440px;
    }
  }
@media (max-width: 1240px) {
	 #images, #images2, #images3 {
      height: 150px;
    }
}
@media (max-width: 968px) {
	 #images, #images2, #images3 {
      height: 100px;
    }
}

  @media (max-width: 768px) {
    #images, #images2, #images3 {
      height: 80px;
    }
    .lower {
      height: 2200px;
    }
    .info {
      height: 2240px;
    }
    }
    @media (max-width: 600px) {
      #images, #images2, #images3 {
        height: 60px;
      }
      }
      @media (max-width: 500px) {
        #images, #images2, #images3 {
          height: 40px;
        }
        .lower {
          height: 2700px;
        }
        .info {
          height: 2740px;
        }
        }
        @media (max-width: 400px) {
          #images, #images2, #images3 {
            height: 20px;
          }
          }
