.lower {
   position: relative;
   top: 0px;
   height: 1000px;
   width: 100%;
 }

 .info{
   position: absolute;
   width: 100%;
   height: 1070px;
   background-color: #efefef;
   font-family: arial;
 }
      #map {
		margin-left: 10%;
		margin-top: 20px;
        width: 80%;
        height: 400px;
        background-color: grey;
      }
#info_h {
    padding-top: 5rem;
	text-align: center;
 	color: #474747;
  	font-size: 28px;
}
#info_sh {
	text-align: center;
 	color: #474747;
  	font-size: 28px;
    padding-top: 2rem;
    padding-bottom: 1rem;
}
#info_p {
	text-align: center;
 	color: #474747;
  	font-size: 20px;	
}
 #backgroundimage4 {
   background-image: url("Picture1.png");
   background-size:cover;
   width:100%;
   height:100%;
   filter: opacity(75%);
   z-index: -1;
 }
#summer {
	text-align: center;
 	color: #474747;
  	font-size: 24px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
#winter {
	text-align: center;
 	color: #474747;
  	font-size: 24px;
    padding-top: 1rem;
    padding-bottom: 1rem;    
}
#times-2 {
	text-align: center;
 	color: #474747;
  	font-size: 20px;	
}
.hidden {
    display: none;
}
button {
    background-color: #5ea5f4;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin-top: 2rem;
}
button:hover {
    cursor: pointer;
}
.button {
    width: 20rem;
}
#buttondiv {
    width: 40.4rem;
    margin: 0 auto;
}
#timeInfo {
    text-align: center;
    color: #474747;
    font-size: 24px;
    margin-top: 3rem;
}
#season {
    display: inline;
}